.div {
    border: solid 5px purple;
    width: 30vw;
    height: 30vw;
}

.big {
    color: rgb(30, 255, 0);
    font-size: 15px;
    font-family: Fb DanaKama;
}

.small {
    color: rgb(194, 40, 102);
    font-size: 20px;
    font-family:Fb DanaKama;
}

.message {
    width: 30vw;
    height: auto;
}

.error {
    color: rgb(201, 9, 9);
    background-color: rgb(253, 182, 182);
}

.warning {
    color: rgb(255, 225, 0);
    background-color: rgb(255, 253, 192);
}

.info {
    color: rgb(76, 180, 245);
    background-color: rgb(196, 222, 230);
}

.album {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

.img {
    width: 45vw;
    height: auto;
}

@media screen and (max-width:600px) {
    .div {
        width: 90vw;
    }
}